* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

@font-face {
    font-family: Miama;
    src: url(../font/Miama.ttf);
}

body {
    background-color: black;
}

p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding: 20px 0;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;
}

.style {
    font-family: Miama;
    font-weight: 400;
    font-size: 150px;
    line-height: 1px;
    letter-spacing: 0%;
    text-align: left;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}

h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

h5 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
}

h6 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.section {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    padding: 20px 0;
}

.habit,
.bmi__calculator1,
.pricing,
.meet__team {
    padding: 20px 0;
    background: black;
}

.bmi__calculator2,
.footer {
    padding: 20px 0;
    background: rgb(26, 26, 26);
}


/* navbar section  */
.navbar__tab__pc,
.navbar__mobile {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__tab__pc a,
.navbar__mobile a {
    text-decoration: none;
}

.navbar__tab__pc h1,
.navbar__mobile h1 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    font-style: italic;
}

.navbar__tab__pc ul {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 35;
    padding: 4px;
    list-style: none;
}

.navbar__tab__pc .active {
    background-color: rgb(230, 83, 60);
    padding: 4px 10px;
    border-radius: 40px;
}

.navbar__tab__pc ul a {
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    padding: 5px 15px;
}

.navbar__mobile {
    visibility: hidden;
    display: none;
}

.navbar__mobile i {
    font-size: 18px;
    color: white;
}

/* banner  */
.banner__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    width: 90%;
    margin: 35px auto 0;
    padding: 25px;
}

.banner__container .banner__left {
    width: 50%;
}

.banner__container .banner__left .banner__left__content {
    width: 80%;
}

.banner__container .banner__left .banner__left__button {
    display: flex;
    justify-content: flex-start;
}

.banner__container .banner__left .banner__left__button button {
    padding: 16px 25px;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.banner__container .banner__left .join {
    margin: 20px 20px 20px 0;
    border: 1px solid transparent;
    background: rgb(230, 83, 60);
}

.banner__container .banner__left .download {
    margin: 20px 20px 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
}

.banner__container .banner__left .join {
    margin: 20px 20px 20px 0;
    padding: 16px 40px 16px 40px;
    border: 1px solid transparent;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.banner__container .banner__right {
    width: 50%;
    position: relative;
    margin: 0 auto;
}

.banner__container .banner__right .video__tutorial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(48, 48, 48, 0.54);
    width: 200px;
    position: absolute;
    bottom: 60px;
    left: 10px;
    border-radius: 10px;
}

.banner__container .banner__right .workout__video {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(48, 48, 48, 0.54);
    width: 180px;
    position: absolute;
    top: 60px;
    right: 40px;
    border-radius: 10px;
}

.banner__container .banner__right .video__tutorial .video__tutorial__dot {
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
    margin-right: 25px;
}

.banner__container .banner__right h3 {
    padding: 0;
    font-size: 20px;
}

.banner__container .banner__right p {
    padding: 0;
}

.banner__container .banner__right .banner__right__img {
    width: 50%;
    margin: 0 auto;
}

.banner__container .banner__right .banner__right__img img {
    width: 100%;
    height: 500px;
}

/* change__your__habit  */
.habit__container__one {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
}

.habit__container__two {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 0 50px;
    margin-bottom: 60px;
}

.habit__container__two__content {
    text-align: center;
}

.habit__container__two__content p {
    width: 75%;
    margin: 0 auto;
}

.habit__container__two__content img {
    border: 3px solid rgba(110, 110, 110, 0.355);
    border-radius: 50%;
    width: 65%;
    margin-bottom: 15px;
}

.habit__container__three {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
}

.habit__container__three__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}

.habit__container__three__left h2 {
    margin-top: 25px;
}

.habit__container__three__left p {
    width: 70%;
}

.habit__container__three__left button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px 40px 16px 40px;
    border: 1px solid transparent;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.habit__container__three__right {
    width: 50%;
}

.habit__container__three__right img {
    height: 100%;
    width: 100%;
}

.habit__container__three__right .web {
    width: 100%;
}

.habit__container__three__right .tab,
.habit__container__three__right .mobi {
    visibility: hidden;
    display: none;
}

/* .bmi__calculator  */
.bmi__calculator1__container p,
.bmi__calculator2__right p {
    width: 80%;
}

/* .bmi__calculator1 */
.bmi__calculator1__container {
    text-align: left;
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}

/* .bmi__calculator2 */
.bmi__calculator2__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}

.bmi__calculator2__left {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 40%;
}

.bmi__calculator2__left table {
    width: 85%;
    border-collapse: collapse;
    margin-top: 40px;
}

.bmi__calculator2__left th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding: 15px;
}

.bmi__calculator2__left td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.bmi__calculator2__right {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 0 auto;
}

.bmi__calculator2__right p {
    width: 80%;
}

.bmi__calculator2__right .form__row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bmi__calculator2__right .form__row input,
.bmi__calculator2__right .form__row select,
.bmi__calculator2__right select {
    width: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 12px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 5px 0;
    text-align: left;
}

.bmi__calculator2__right .form__row input:focus,
.bmi__calculator2__right .form__row select:focus,
.bmi__calculator2__right select {
    outline: none;
}

.bmi__calculator2__right .form__row option,
.bmi__calculator2__right option {
    background: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.bmi__calculator2__right .submit {
    margin-top: 20px;
    padding: 16px 40px 16px 40px;
    border: 1px solid transparent;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}


/* pricing  */
.pricing__container__one {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
}

.pricing__container__two {
    width: 90%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    border-radius: 15px;
}

.pricing__container__card {
    background-color: white;
    width: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 45px 25px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.pricing__container__card .pricing__container__card__heading h4 {
    color: #333333;

}

.pricing__container__card .pricing__container__card__heading .price-color {
    color: #fb5b21dc;
    font-weight: 700;
    font-size: 35px;
}

.pricing__container__card .pricing__container__card__heading .month {
    color: #a4a4a49e;
    font-weight: 600;
    font-size: 20px;
}

.pricing__container__card ul {
    list-style: none;
}

.pricing__container__card li {
    margin: 15px 0;
}

.pricing__container__card button {
    width: 120px;
    text-align: center;
    padding: 15px;
    background-color: transparent;
    color: #888888;
    border: 1px solid #fb5b21;
    border-radius: 15px;
}

/* meet team  */
.meet__container__one {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}

.meet__container__two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 90%;
    margin: 0 auto 60px auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 0;
}

.trainer-card {
    width: 90%;
    margin: 15px auto;
    height: 372px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 18px;
    background-blend-mode: overlay;
}

.trainer-card p {
    padding: 5px 0;
}

.trainer-1 {
    background-image: url(../images/trainer1.png);
}

.trainer-2 {
    background-image: url(../images/trainer2.png);
}

.trainer-3 {
    background-image: url(../images/trainer3.png);
}

.trainer-4 {
    background-image: url(../images/trainer4.png);
}

.trainer-5 {
    background-image: url(../images/trainer5.png);
}

.trainer-6 {
    background-image: url(../images/trainer6.png);
}

.trainer-intro {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

/* footer  */
.footer__container {
    display: grid;
    width: 90%;
    grid-template-columns: 40% 30% 30%;
    gap: 5px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: left;
}

.footer__container__one {
    display: flex;
    flex-direction: column;
    gap: 20;
}

.footer__container__one a {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    font-style: italic;
    margin-bottom: 20px;
}

.footer__container h4 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.footer__container p {
    text-align: left;
    width: 70%;
}

.footer__container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 39px 0;
}

.footer__container li {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.footer__copyright {
    padding: 30px 0 10px 0;
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.footer__copyright h5 {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

@media screen and (min-width:577px) and (max-width: 992px) {


    h1 {
        font-size: 64px;
    }

    .style {
        font-size: 120px;
    }

    /* banner  */
    .banner__container {
        flex-direction: column;
        padding: 10px;
    }

    .banner__container .banner__left {
        width: 80%;
    }

    .banner__container .banner__left .banner__left__content {
        width: 100%;
    }

    .banner__container .banner__left .banner__left__button button {
        padding: 16px 20px;
        font-size: 16px;
    }

    .banner__container .banner__right {
        width: 100%;
    }

    .banner__container .banner__right .video__tutorial {
        width: 180px;
        bottom: 60px;
        left: 5%;
        padding: 5px;
        border-radius: 10px;
    }

    .banner__container .banner__right .workout__video {
        width: 180px;
        top: 60px;
        right: 15%;
        padding: 5px;
    }

    .banner__container .banner__right .video__tutorial .video__tutorial__dot {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .banner__container .banner__right h3 {
        font-size: 20px;
    }


    .banner__container .banner__right .banner__right__img {
        width: 60%;
        margin: 0 auto;
    }

    .banner__container .banner__right .banner__right__img img {
        width: 100%;
        height: 600px;
    }

    .habit__container__two {
        grid-template-columns: repeat(2, 1fr);
    }

    .habit__container__two__content img {
        width: 70%;
    }

    .habit__container__three {
        gap: 5px;
    }

    .habit__container__three__right img {
        width: 100%;
    }

    .habit__container__three__right .tab {
        visibility: visible;
        display: flex;
        width: 100%;
        height: 500px;
    }

    .habit__container__three__right .web,
    .habit__container__three__right .mobi {
        visibility: hidden;
        display: none;
    }

    .bmi__calculator1__container {
        width: 90%;
    }

    .bmi__calculator2__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
    }

    .bmi__calculator2__left {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 10px;
    }

    .bmi__calculator2__left table {
        width: 75%;
    }

    .bmi__calculator2__right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }


    .pricing__container__two {
        flex-direction: column;
    }

    .pricing__container__card {
        width: 75%;
    }

    .footer__container {
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        margin: 0 auto;
    }

    .footer__container p {
        text-align: left;
        width: 75%;
    }

    .footer__container__one {
        grid-column: span 2;
    }

    .footer__container__one,
    .footer__container__two,
    .footer__container__three {
        padding: 20px 5px;
    }
}

@media screen and (max-width:576px) {
    h1 {
        font-size: 52px;
    }

    .style {
        font-size: 100px;
    }

    .navbar__tab__pc {
        display: none;
    }

    .navbar__mobile {
        visibility: visible;
        display: flex;
        /* align-items: center;
        justify-content: space-between; */
    }

    .banner__container {
        flex-direction: column;
        padding: 0px;
    }

    .banner__container .banner__left {
        width: 100%;
    }

    .banner__container .banner__right {
        width: 100%;
    }

    .banner__container .banner__left .banner__left__button {
        display: flex;
        justify-content: space-evenly;
    }

    .banner__container .banner__left .banner__left__button button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .banner__container .banner__right .video__tutorial {
        width: 160px;
        bottom: 50px;
        left: 0px;
        padding: 5px;
    }

    .banner__container .banner__right .workout__video {
        width: 160px;
        top: 50px;
        right: 0px;
        padding: 5px;
    }

    .banner__container .banner__right .video__tutorial .video__tutorial__dot {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .banner__container .banner__right h3 {
        font-size: 18px;
    }


    .banner__container .banner__right .banner__right__img {
        width: 80%;
        margin: 0 auto;
    }

    .banner__container .banner__right .banner__right__img img {
        width: 100%;
        height: 550px;
    }

    .habit__container__two {
        grid-template-columns: repeat(1, 1fr);
    }

    .habit__container__two__content p,
    .habit__container__two__content {
        width: 80%;
    }

    .habit__container__two__content img {
        width: 80%;
    }

    .habit__container__three {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .habit__container__three__left {
        width: 100%;
        margin-left: 0px;
    }

    .habit__container__three__left p {
        text-align: left;
        width: 100%;
    }

    .habit__container__three__left button {
        width: 100%;
        text-align: center;
    }

    .habit__container__three__right {
        width: 100%;
    }

    .habit__container__three__right .mobi {
        visibility: visible;
        display: flex;
    }

    .habit__container__three__right .web,
    .habit__container__three__right .tab {
        visibility: hidden;
        display: none;
    }

    .bmi__calculator1__container {
        width: 90%;
    }

    .bmi__calculator2__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
    }

    .bmi__calculator2__left {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 10px;
    }

    .bmi__calculator2__left table {
        width: 100%;
    }

    .bmi__calculator2__right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .pricing__container__two {
        flex-direction: column;
    }

    .pricing__container__card {
        width: 95%;
    }

    .meet__container__one {
        width: 80%;
    }

    .meet__container__two {
        grid-template-columns: 1fr;
    }

    .trainer-card {
        height: 372px;
    }

    .footer__container {
        display: grid;
        width: 90%;
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 0 auto;
    }

    .footer__container p {
        text-align: left;
        width: 85%;
    }

    .footer__container__one,
    .footer__container__two,
    .footer__container__three {
        padding: 15px 2px;
    }
}